* {
  margin-right: 0px !important;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
      to top,
      #2a213f,
      #262626,
      #262626,
      rgb(20, 20, 20),
      rgb(20, 20, 20),
      #19191900
    ),
    url(/images/topbg.jpg);
  background-size: contain;
}
.left-first-section {
  background-color: #141414;
  color: white;
  max-width: 46%;
  padding-top: 55px;
  padding-left: 80px;
  padding-right: 60px;
  padding-bottom: 100px;
}
.left-first-section h1:nth-of-type(1) {
  font-size: 40px;
  line-height: 40px;
}
.left-first-section p:nth-of-type(1) {
  color: #999999;
}
.first-buttons {
  background-color: transparent;
  color: white;
  padding: 11px;
  font-size: 13px;
  border: none;
  border-radius: 7px;
  border-color: #434343;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  margin-top: 20px;
}
.first-buttons:hover {
  border-color: transparent;
  background-color: #703bf7;
  cursor: pointer;
}
.our-stats {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  gap: 14px;
}
.our-stats div {
  background-color: #1a1a1a;
  border-radius: 14px;
  width: 70%;
  padding-left: 20px;
}
main {
  display: flex;
  flex-wrap: wrap;
}
.right-first-section {
  width: 44%;
  background-image: url(/images/towers.png);
  background-size: cover;
}
.numbers {
  font-size: 35px !important;
}
.third-mid-section {
  background-color: #141414;
  color: white;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border-style: solid;
  border-color: #262626;
  border-width: 10px;
}
.directions {
  width: 25%;
  padding: 40px;
  background-color: #1a1a1a;
  text-align: center;
  border-radius: 12px;
  position: relative;
}
.fa-square-up-right {
  position: absolute;
  font-size: 22px;
  color: lightgray;
  right: 10px;
  top: 10px;
}
.fa-house,
.fa-money-bills,
.fa-building,
.fa-sun {
  height: 31px;
  width: 31px;
  font-size: 26px;
  color: #a685fa;
  border-radius: 100px;
  border-style: solid;
  padding: 7px;
}
.fa-star1 {
  color: lightgray;
  font-size: larger;
  margin-left: 80px;
}
.fa-star2 {
  color: rgb(138, 138, 138);
  font-size: small;
}
.fa-star3 {
  color: rgb(70, 70, 70);
  font-size: 10px;
}
.questions-header input {
  background-color: #1a1a1a;
  color: white;
  padding: 15px;
  font-size: 17px;
  border: none;
  border-radius: 7px;
  border-color: #434343;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  margin-right: 150px !important;
}
.questions-header {
  font-size: 15px;
}
.clients-header p {
  font-size: 14px !important;
}
.questions-header p {
  font-size: 14px !important;
  width: fit-content;
}
.properities-header,
.clients-header,
.questions-header {
  display: flex;
  align-items: center;
  margin-left: 90px;
  color: white;
  justify-content: space-between;
  width: 100%;
}
.properities-header p {
  margin-top: 5px;
}

.clients-header p {
  font-size: 14px;
    width: fit-content;
}
.Properities .fa-star1 {
    margin-left: 120px;
} 
.Properities .features-title {
    margin-left: 120px;
} 
.properities-header {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 0px;
  margin-left: 120px;
}
.properities-header input {
  margin-right: -15px !important;
  background-color: #1a1a1a;
  color: white;
  padding: 15px;
  font-size: 17px;
  border: none;
  border-radius: 7px;
  border-color: #434343;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
}
.clients-header input {
  margin-right: 100px !important;
  background-color: #1a1a1a;
  color: white;
  padding: 15px;
  font-size: 17px;
  border: none;
  border-radius: 7px;
  border-color: #434343;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  margin-right: 195px;
}
.fa-star {
  margin-top: 69px;
}
.features-title,
.clients-title,
.questions-title {
  margin-left: 90px;
  color: white;
  margin-top: 7px;
  margin-bottom: 7px;
  font-weight: bolder;
}
.properitie-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.Properities {
  width: 80%;
}
.properities-grid {
  display: grid;
  grid-template-rows: 450px 450px 450px;
  grid-template-columns: 400px 400px 400px;
  column-gap: 20px;
  margin-left: 120px;
  margin-right: 120px;
  max-height: 450px;
}
.properitie-card {
  color: white;
  background-color: #141414;
  border-color: #333333;
  border-style: solid;
  border-radius: 15px;
  padding: 20px;
}
.clients-grid {
  margin-top: 35px;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 390px 390px 390px;
  gap: 13px;
  margin-left: 100px;
  margin-right: 100px;
  max-height: 310px;
}
.clients-card {
  color: white;
  background-color: #141414;
  border-color: #333333;
  border-style: solid;
  border-radius: 15px;
  padding: 45px;
}
.questions-grid {
  margin-top: 35px;
  display: grid;
  grid-template-rows: 230px 230px 230px;
  grid-template-columns: 390px 390px 390px;
  gap: 13px;
  margin-left: 70px;
  margin-right: 100px;
  max-height: 240px;
}
.questions-card h1 {
  font-size: 17px;
}
.questions-card p {
  font-size: 14px;
  color: #999999;
}
.questions-card button {
  background-color: transparent;
  color: white;
  padding: 11px;
  font-size: 13px;
  border: none;
  border-radius: 7px;
  border-color: #434343;
  background-color: #1a1a1a;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  margin-top: 20px;
}
.questions-card {
  color: white;
  background-color: #141414;
  border-color: #333333;
  border-style: solid;
  border-radius: 15px;
  padding: 35px;
}
.clients-card .fa-star {
  margin-top: 0px;
  color: yellow;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 35px;
}
.clients-card h1 {
  font-size: 17px;
  margin-top: 18px;
}
.property-title {
  font-size: 20px;
  margin-bottom: 0px;
}
.properitie-card p:nth-of-type(1) {
  font-size: 12px;
  margin-top: 3px;
  color: #999999;
  display: inline;
}
.properitie-card img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
}
.hidden1 {
  display: none;
}
#ch1 {
  display: none;
}
#ch1:checked ~ .hidden1 {
  display: inline;

  font-size: 12px;
}
#ch1:checked ~ .showless1 {
  display: block;
}
#ch1:checked ~ .more1 {
  display: none;
}
.showless1 {
  display: none;
  color: rgb(255, 92, 92);
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s ease;
}
.more1 {
  color: rgb(202, 248, 134);
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s ease;
}
/**********************************************************************************************************************************/
.hidden2 {
  display: none;
}
#ch2 {
  display: none;
}
#ch2:checked ~ .hidden2 {
  display: inline;
  font-size: 12px;
}
#ch2:checked ~ .showless2 {
  display: block;
}
#ch2:checked ~ .more2 {
  display: none;
}
.showless2 {
  display: none;
  color: rgb(255, 92, 92);
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s ease;
}
.more2 {
  color: rgb(202, 248, 134);
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s ease;
}
/**********************************************************************************************************************************/
.hidden3 {
  display: none;
  transition: 0.3s ease;
}
#ch3 {
  display: none;
}
#ch3:checked ~ .hidden3 {
  font-size: 12px;
  display: inline;
}
#ch3:checked ~ .showless3 {
  display: block;
}
#ch3:checked ~ .more3 {
  display: none;
}
.showless3 {
  display: none;
  color: rgb(255, 92, 92);
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s ease;
}
.more3 {
  color: rgb(202, 248, 134);
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s ease;
}
.what-we-have {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  gap: 10px;
}
.we-have {
  background-color: #262626;
  padding: 7px;
  margin-top: 10px;
  border-radius: 17px;
  border-color: #333333;
  border-style: solid;
  text-align: center;
  min-width: 24%;
  margin-top: 20px;
}
.we-have p {
  color: white !important;
}
.price {
  margin-bottom: 0px;
}
.price h1 {
  margin-top: 0px;
  font-size: 20px;
}
.detailss button {
  border-color: transparent;
  background-color: #703bf7;
  cursor: pointer;
  color: white;
  padding: 11px;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  border-color: #434343;
  border-width: 1px;
  border-radius: 8px;
  width: 100%;
  border-style: solid;
}
.last-pr-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.choose {
  margin-left: 120px;
  margin-right: 120px;
  width: 100%;
  margin-top: 30px;
  border-top-style: solid;
  border-color: #434343;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #434343;
  padding-top: 10px;
}
.choose-two {
  width: 1180px;
  margin-left: 110px;
  margin-right: 120px;
  margin-top: 30px;
  width: 100;
  border-top-style: solid;
  gap: 0px;
  border-color: #434343;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #434343;
  padding-top: 10px;
}
.choose-three {
  width: 1180px;
  margin-left: 60px;
  margin-right: 120px;
  margin-top: 30px;
  width: 100;
  border-top-style: solid;
  gap: 0px;
  border-color: #434343;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #434343;
  padding-top: 10px;
}
.choose-three p {
  margin-right: 720px;
}
.choose-two p {
  margin-right: 720px;
}
.choose p {
  margin-right: 50%;
}
.choose-three .fa-solid {
  gap: 0px;
  background-color: transparent;
  border-color: #434343;
  border-style: solid;
  border-radius: 50px;
  padding: 12px;
  padding-top: 14px;
}
.choose-two .fa-solid {
  gap: 0px;
  background-color: transparent;
  border-color: #434343;
  border-style: solid;
  border-radius: 50px;
  padding: 12px;
  padding-top: 14px;
}

.choose-three .fa-solid:hover {
  color: white;
  cursor: pointer;
  background-color: #1a1a1a;
}
.choose-two .fa-solid:hover {
  color: white;
  cursor: pointer;
  background-color: #1a1a1a;
}
.choose-three p span {
  color: white;
}
.choose-two p span {
  color: white;
}
.choose-three .fa-solid:nth-of-type(1) {
  margin-left: 295px;
}
.choose-two .fa-solid:nth-of-type(1) {
  margin-left: 295px;
}

/***************************/
.choose .fa-solid {
  gap: 0px;
  background-color: transparent;
  border-color: #434343;
  border-style: solid;
  border-radius: 50px;
  padding: 12px;
  padding-top: 14px;
}
.choose .fa-solid:hover {
  color: white;
  cursor: pointer;
  background-color: #1a1a1a;
}
.choose p span {
  color: white;
}
.choose .fa-solid:nth-of-type(1) {
  margin-left: 440px;
}
.clients-saying,
.questions {
  margin-left: 45px;
}
.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  object-fit: cover;
}
.last-cl-div {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50px 150px;
  align-items: center;
  gap: 10px;
}
.info {
  line-height: 5px;
}
.info p:nth-of-type(1) {
  font-size: 17px;
}
.info p:nth-of-type(2) {
  font-size: 13px;
  color: #999999;
}
.clients-card p {
  font-size: small;
}
.start {
  border-top-style: solid;
  margin-top: 60px;
  border-bottom-style: solid;
  background-image: linear-gradient(to bottom, #423b5483, #2626266a),
    url(/images/bg2.jpg);
}
.start-content {
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 90px !important;
  display: flex;
  align-items: center;
  color: white;
}
.start-text p {
  width: 82%;
}
.start-content button {
  border-color: transparent;
  background-color: #703bf7;
  cursor: pointer;
  color: white;
  padding: 13px;
  font-size: 13px;
  border: none;
  border-radius: 7px;
  border-color: #434343;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  width: 30%;
  margin-top: 20px;
  margin-right: 80px !important;
}
.foterg {
  width: fit-content;
  height: fit-content;
  margin-left: 115px;
}
.title-logo-footer {
  color: white;
  margin-left: 5px;
}
.logoo {
  display: flex;
  align-items: center;
  padding-top: 78px;
}
.emaill {
  width: fit-content;
  margin-left: 120px;
  position: relative;
}
.fa-paper-plane {
  position: absolute;
  color: white;
  right: 12px;
  bottom: 11px;
}
.fa-envelope {
  position: absolute;
  color: #999999;
  left: 9px;
  bottom: 12px;
}
.emaill input::placeholder {
  color: white;
}
.emaill input {
  margin-top: 19px;
  padding: 10px;
  padding-left: 35px;
  width: 240px;
  border-radius: 8px;
  background-color: transparent;
  border-style: solid;
}
.parts {
  display: grid;
  grid-template-columns: 20% 1fr;
}
.pages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.pages {
  margin-left: 200px;
}
.pages div {
  margin-top: 70px;
}
.pages div a:nth-of-type(1) {
  color: #999999 !important;
}
.pages div a {
  line-height: 2.5;
  display: block;
  color: white;
  text-decoration: none;
}
.end {
  display: flex ;
  align-items: center;
  background-color: #1A1A1A;
  justify-content: space-between;
  padding: 13px;
}
.end .left-div p {
  color: white;
}
.end .left-div p:nth-of-type(1) {
  margin-left: 140px;
}
.left-div {
  display: flex;
    gap: 20px;
    align-items: center;
}
.right-div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 120px !important;
}
.fa-brands {
    color: white;
}
.main-grid {
  padding-bottom: 70px;
}